{% extends 'base.html' %}

{% block content %}

    <a class="btn btn-danger" href="{% url 'delete' post.title %}">Delete</a>

    <h2>{{ post.title }}</h2>
    {% if post.image_path %}
        <img src="{{ post.image_path }}">
    {% endif %}

    {% if post.content %}
        <h3>{{ post.content }}</h3><hr/>
    {% endif %}

    {% if post.detail %}
        <h3>{{ post.detail }}</h3><hr/>
    {% endif %}

    {% if post.tags %}
        <h4>tags:</h4><br>
        {% for tag in post.tags %}
            <small>{{ tag }}</small>
        {% endfor %}
    {% endif %}

    {% if post.link_url %}
        <a href="{{ post.link_url }}">reference</a>
    {% endif %}
    {% if post.created_at %}
        <p>{{ post.created_at }}</p>
    {% endif %}

{% endblock %}